.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 1em 1em;
    background-color: rgb(128, 85, 0);
    color: rgb(128, 85, 0);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 1;
    flex-wrap: wrap;
    cursor: pointer;
    flex: 0 0 auto;
  }
  
  .card {
    width: 10em;
    height: 10em;
    background-color: rgb(128, 85, 0);
    color: black;
    perspective: 1000px;
  }
  
  .cardFront,
  .cardBack {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
  }
  
  .cardFront {
    background-color: #f0f0f0;
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  .cardBack {
    background-color: #e0e0e0;
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  .flipped .cardFront {
    transform: rotateY(-180deg);
  }
  
  .flipped .cardBack {
    transform: rotateY(0deg);
  }
  
  .cardTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Add text-align to center the title */
  }
  
  .cardInfo h5{
    font-size: 10px;
  }
  
  .cardButton {
    margin-top: 16px;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
  }
  
  .arrowIcon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 24px;
  }
  
  